.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.Body {
	display: flex;
	flex-direction: row;
}

.BodyLeft {
	display: flex;
	flex-direction: column;
}

.BodyRight {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	overflow: hidden;
}

.VisualizerTray {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.Settings label {
	text-align: right;
	grid-column: 1/2;
}

.Settings input {
	width: 100px;
	grid-column: 2/3;
}

.Settings select {
	grid-column: 2/3;
}

.Settings .FormSection {
	padding: 8px;
}

.Settings .FormRow {
	display: grid;
	grid-template-columns: 150px 1fr;
	column-gap: 16px;
	row-gap: 16px;
	padding: 2px;
}

.Block {
	border: 2px solid gray;
	margin: 12px 0px 0px 12px;
}

div.Visualizer {
	margin-right: 12px;
	height: 500px;
}
